In [7]:
import pandas as pd

In [8]:
# Load the CSV data into DataFrames
df_master = pd.read_csv('data/master2.csv')
df_additional1 = pd.read_csv('data/life.csv')
df_additional2 = pd.read_csv('data/money.csv')
df_additional3 = pd.read_csv('data/work.csv')

In [9]:
# Sort the main DataFrame by year and country
df_master.sort_values(['year', 'Country name'], inplace=True)

In [10]:
# Merge the data on 'year' and 'country' columns, keeping all rows
df_merged = pd.merge(df_master, df_additional1, on=['year', 'ISO3'], how='left')

In [11]:
df_merged = pd.merge(df_master, df_additional2, on=['year', 'ISO3'], how='left')

In [12]:
df_merged = pd.merge(df_master, df_additional3, on=['year', 'ISO3'], how='left')

In [13]:
# Forward fill missing values with data from the previous year
df_merged.fillna(method='ffill', inplace=True)

In [14]:
print(df_merged)

            Country name Alpha-2 code ISO3  Numeric code  latitude  longitude
0            Afghanistan           AF  AFG             4   33.0000       65.0  \
1                Albania           AL  ALB             8   41.0000       20.0
2                Algeria           DZ  DZA            12   28.0000        3.0
3         American Samoa           AS  ASM            16  -14.3333     -170.0
4                Andorra           AD  AND            20   42.5000        1.6
...                  ...          ...  ...           ...       ...        ...
16123  Wallis and Futuna           WF  WLF           876  -13.3000     -176.2
16124     Western Sahara           EH  ESH           732   24.5000      -13.0
16125              Yemen           YE  YEM           887   15.0000       48.0
16126             Zambia           ZM  ZMB           894  -15.0000       30.0
16127           Zimbabwe           ZW  ZWE           716  -20.0000       30.0

       year INDICATOR SUBJECT MEASURE FREQUENCY    time  Flag Codes
0      1960       NaN     NaN     NaN       NaN     NaN         NaN
1      1960       NaN     NaN     NaN       NaN     NaN         NaN
2      1960       NaN     NaN     NaN       NaN     NaN         NaN
3      1960       NaN     NaN     NaN       NaN     NaN         NaN
4      1960       NaN     NaN     NaN       NaN     NaN         NaN
...     ...       ...     ...     ...       ...     ...         ...
16123  2022     HRWKD     TOT  HR_WKD         A  1791.0         NaN
16124  2022     HRWKD     TOT  HR_WKD         A  1791.0         NaN
16125  2022     HRWKD     TOT  HR_WKD         A  1791.0         NaN
16126  2022     HRWKD     TOT  HR_WKD         A  1791.0         NaN
16127  2022     HRWKD     TOT  HR_WKD         A  1791.0         NaN

[16128 rows x 13 columns]

In [15]:
df_master.to_csv('newmaster2.csv')