In [1]:
import pandas as pd

In [2]:
# Load the CSV data into DataFrames
df_master = pd.read_csv('data/master2.csv')
df_additional1 = pd.read_csv('data/life.csv')
df_additional2 = pd.read_csv('data/money.csv')
df_additional3 = pd.read_csv('data/work.csv')

In [3]:
# Sort the main DataFrame by year and country
df_master.sort_values(['year', 'ISO3'], inplace=True)

In [4]:
# Merge the data on 'year' and 'country' columns, keeping all rows
df_merged = pd.merge(df_master, df_additional1, on=['year', 'ISO3'], how='left')

In [5]:
df_merged.fillna(method='ffill', inplace=True)

In [6]:
df_master.to_csv('newmaster2.csv')

In [7]:
df_master2 = pd.read_csv('newmaster2.csv')

In [8]:
df_merged2 = pd.merge(df_master2, df_additional2, on=['year', 'ISO3'], how='left')

In [9]:
df_merged2.fillna(method='ffill', inplace=True)

In [10]:
df_master2.to_csv('newmaster3.csv')

In [11]:
df_master3 = pd.read_csv('newmaster3.csv')

In [12]:
df_merged3 = pd.merge(df_master3, df_additional3, on=['year', 'ISO3'], how='left')

In [13]:
df_merged3.fillna(method='ffill', inplace=True)

In [14]:
df_master3.to_csv('newmaster4.csv')

In [15]:
# Forward fill missing values with data from the previous year
df_merged.fillna(method='ffill', inplace=True)

In [18]:
print(df_merged3)

       Unnamed: 0.1  Unnamed: 0  Country name Alpha-2 code ISO3  Numeric code
0                 0         693         Aruba           AW  ABW           533  \
1                 1           0   Afghanistan           AF  AFG             4
2                 2         315        Angola           AO  AGO            24
3                 3         378      Anguilla           AI  AIA           660
4                 4          63       Albania           AL  ALB             8
...             ...         ...           ...          ...  ...           ...
16123         16123       12410         Samoa           WS  WSM           882
16124         16124       16001         Yemen           YE  YEM           887
16125         16125       13229  South Africa           ZA  ZAF           710
16126         16126       16064        Zambia           ZM  ZMB           894
16127         16127       16127      Zimbabwe           ZW  ZWE           716

       latitude  longitude  year INDICATOR SUBJECT MEASURE FREQUENCY    time
0       12.5000   -69.9667  1960       NaN     NaN     NaN       NaN     NaN  \
1       33.0000    65.0000  1960       NaN     NaN     NaN       NaN     NaN
2      -12.5000    18.5000  1960       NaN     NaN     NaN       NaN     NaN
3       18.2500   -63.1667  1960       NaN     NaN     NaN       NaN     NaN
4       41.0000    20.0000  1960       NaN     NaN     NaN       NaN     NaN
...         ...        ...   ...       ...     ...     ...       ...     ...
16123  -13.5833  -172.3333  2022     HRWKD     TOT  HR_WKD         A  1791.0
16124   15.0000    48.0000  2022     HRWKD     TOT  HR_WKD         A  1791.0
16125  -29.0000    24.0000  2022     HRWKD     TOT  HR_WKD         A  1791.0
16126  -15.0000    30.0000  2022     HRWKD     TOT  HR_WKD         A  1791.0
16127  -20.0000    30.0000  2022     HRWKD     TOT  HR_WKD         A  1791.0

       Flag Codes
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
16123         NaN
16124         NaN
16125         NaN
16126         NaN
16127         NaN

[16128 rows x 15 columns]

In [17]:
df_master3.to_csv('newmaster4.csv')

In [31]:
master=pd.read_csv('data/master.csv')

In [19]:
income=pd.read_csv('data/gdp_pcap.csv')

In [20]:
income

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,583,583,583,583,583,583,583,583,583,...,3570,3700,3720,3830,3930,4030,4130,3900,4070,4030
1,Angola,452,454,456,458,460,462,464,466,468,...,20.6k,21.1k,21.7k,21.9k,22.3k,22.5k,23k,23.5k,24k,24.6k
2,Albania,569,571,572,574,576,577,579,581,582,...,37.6k,38.5k,39.4k,39.9k,40.9k,41.9k,41.4k,42.4k,43.7k,45.7k
3,Andorra,1660,1660,1670,1670,1670,1680,1680,1680,1690,...,59.2k,60k,60.3k,61k,61.7k,62.7k,61.9k,62.5k,62.9k,62.1k
4,United Arab Emirates,1390,1390,1390,1400,1410,1410,1420,1420,1430,...,86.2k,85.4k,84.1k,84.3k,84.6k,83.9k,84.2k,84k,84.1k,84.3k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,1940,1940,1940,1940,1940,1940,1940,1950,1950,...,12.6k,12.9k,13.3k,13.6k,13.9k,14.3k,14.7k,14.7k,15.6k,16k
191,Yemen,1220,1230,1230,1230,1240,1240,1240,1250,1250,...,4680,4620,4680,4880,5060,5260,5370,5490,5610,5730
192,South Africa,2120,2100,2070,2050,2030,1920,1920,2080,1820,...,36.5k,37.3k,38.1k,39k,39.6k,40.2k,40.9k,41.6k,42.1k,42.7k
193,Zambia,646,648,650,651,653,654,656,658,659,...,10.6k,10.9k,10.8k,11.1k,11.4k,11.7k,12k,12.3k,12.5k,12.8k
194,Zimbabwe,1170,1170,1170,1170,1170,1170,1180,1180,1180,...,5970,6190,6360,6570,6600,6750,6890,7080,7200,7380

In [21]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 302 entries, country to 2100
dtypes: int64(92), object(210)
memory usage: 460.2+ KB

In [22]:
pop=pd.read_csv('data/pop.csv')

In [23]:
pop

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
4,United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,...,432k,434k,435k,436k,437k,438k,439k,440k,441k,441k
193,Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,73.2M,73.3M,73.5M,73.6M,73.7M,73.8M,73.9M,74M,74.1M,74.2M
194,South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,...,75.6M,75.5M,75.4M,75.3M,75.2M,75.1M,75M,74.8M,74.7M,74.6M
195,Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,...,60.3M,60.7M,61.1M,61.5M,61.9M,62.2M,62.6M,62.9M,63.3M,63.6M
196,Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,35.1M,35.2M,35.3M,35.4M,35.4M,35.5M,35.5M,35.6M,35.6M,35.6M

In [24]:
life=pd.read_csv('data/lex.csv')

In [25]:
life

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,75.5,75.7,75.8,76.0,76.1,76.2,76.4,76.5,76.6,76.8
1,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.8,79.0,79.1,79.2,79.3,79.5,79.6,79.7,79.9,80.0
2,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.2,88.3,88.4
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,...,82.4,82.5,82.6,82.7,82.8,82.9,83.0,83.1,83.2,83.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,25.4,...,79.8,79.9,80.0,80.1,80.3,80.4,80.5,80.6,80.7,80.8
191,Yemen,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,23.4,...,76.9,77.0,77.1,77.3,77.4,77.5,77.6,77.8,77.9,78.0
192,South Africa,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,33.5,...,76.4,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.5,77.7
193,Zambia,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,32.6,...,75.8,76.0,76.1,76.3,76.4,76.5,76.7,76.8,77.0,77.1
194,Zimbabwe,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,...,73.3,73.4,73.5,73.7,73.8,73.9,74.0,74.2,74.3,74.4

In [26]:
mental=pd.read_csv('data/suicide_total_deaths.csv')

In [27]:
mental

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,696,751,855,943,993,1030,1070,1100,1110,...,1370,1390,1410,1430,1440,1470,1500,1550,1580,1610
1,Angola,973,991,1020,1070,1110,1120,1080,1090,1160,...,1500,1550,1600,1640,1650,1690,1720,1800,1870,1930
2,Albania,125,136,132,131,125,133,141,158,170,...,160,160,158,157,158,160,158,156,154,152
3,Andorra,5.96,6.46,6.81,7.25,7.24,7.11,7.09,7,6.97,...,8.08,7.46,7.28,7.29,7.49,7.56,7.63,7.81,7.98,8.13
4,United Arab Emirates,114,121,130,140,147,161,170,181,190,...,541,562,580,610,636,645,648,648,655,664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Samoa,23.5,23.8,24.3,24.7,25,25.2,25.2,25.2,25.1,...,23.2,23.3,23.5,23.7,23.9,24.3,24.7,25.1,25.4,25.4
200,Yemen,596,604,618,636,659,676,697,721,748,...,1130,1170,1190,1230,1240,1300,1360,1430,1520,1560
201,South Africa,6730,6920,7490,6970,7270,7370,7250,8380,8860,...,8230,7540,7370,7340,7480,7460,7200,7320,7660,7860
202,Zambia,584,623,660,694,729,766,792,812,829,...,1080,1110,1130,1170,1210,1250,1290,1340,1370,1400
203,Zimbabwe,1020,1040,1100,1120,1190,1240,1230,1260,1340,...,2080,2080,2090,2100,2160,2240,2300,2340,2370,2400

In [28]:
continent=pd.read_csv('data/continent.csv')

In [29]:
continent

                  Country name ISO3 Continent
0                  Afghanistan  AFG      Asia
1                Åland Islands  ALA    Europe
2                      Albania  ALB    Europe
3                      Algeria  DZA    Africa
4               American Samoa  ASM   Oceania
..                         ...  ...       ...
244  Wallis and Futuna Islands  WLF   Oceania
245             Western Sahara  ESH    Africa
246                      Yemen  YEM      Asia
247                     Zambia  ZMB    Africa
248                   Zimbabwe  ZWE    Africa

[249 rows x 3 columns]

In [32]:
master = master.merge(life,on=['ISO3','year'],how='left')
master=master.merge(continent,on=['ISO3','year'],how='left')
master=master.merge(mental,on=['ISO3','year'],how='left')
master=master.merge(pop,on=['ISO3','year'],how='left')

KeyError: 'ISO3'